PORT=8000

MONGO_URI=mongodb://mrutunjayan818_db_user:foB6DUSYqAM886vc@ac-5afqvi7-shard-00-00.sgfbjua.mongodb.net:27017,ac-5afqvi7-shard-00-01.sgfbjua.mongodb.net:27017,ac-5afqvi7-shard-00-02.sgfbjua.mongodb.net:27017/?ssl=true&replicaSet=atlas-12vgef-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=superkey

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GEMINI_API_KEY=

BASE_URL_BACKEND=http://localhost:8000
BASE_URL_FRONTEND=http://localhost:5173